/*----- Option panel button ----*/

body.voting-manager_page_bwl-pvm_option_panel {
  clear: both;

  .sections h2 {
    font-size: 24px;
    padding-left: 6px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 0;
  }

  .sections label {
    font-size: 15px;
    line-height: 24px;
    font-weight: 600;
  }

  .desc-field {
    font-size: 14px;
    margin-bottom: 12px;
    margin-top: 16px;
    color: #515151;
    line-height: 24px;
    text-shadow: none;
  }

  .button.wp-picker-clear {
    right: -70px !important;
    top: -24px !important;
    position: relative;
  }
}
