/*-- Undo My Vote--*/

.bpvm_undo_vote {
  margin-left: 12px;
  display: inline-block;
  font-weight: bold;
  background: red;
  padding: 2px 12px;
  border-radius: 4px;
  line-height: 24px;
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bpvm_undo_vote:hover,
.bpvm_undo_vote:focus {
  background: tomato;
  color: #fafafa;
}
